<body>
  <div style="font-family: Arial, Helvetica, sans-serif;">
    <div
      style="max-width: 900px;display: block;margin-left: auto; margin-right: auto"
    >
      <div
        style="max-width: 900px; background-color:#ffffff; border-radius: 12px;  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05); margin-bottom: 12px;"
      >
        <div id="header" style="padding:12px; text-align: center; margin-top: 20px">
          <img
            style="vertical-align:middle;height: 45px;"
            src="https://eio-webresources-public.s3.amazonaws.com/logos/Logos/eio-logo-and-letters-blue.jpeg"
          />
        </div>
        <div style="padding:2em 1.5em 6em 1.5em;">
          <p style="color:#333">Se ha creado la siguiente solicitud de cotización:</p>
          <p style="color:#151a22">Nombre del contacto: {{name}}</p>
          <p style="color:#151a22">Teléfono: {{phone}}</p>
          <p style="color:#151a22">Email: {{email}}</p>
          <p style="color:#151a22">Delegación/Municipio: {{territory}}</p>
          <p style="color:#151a22">Tipo de servicio: {{service}}</p>
          <p style="color:#151a22">Tipo de turno: {{shift}}</p>
          <p style="color:#151a22">Duración de servicio: {{duration}}</p>
          <p style="color:#151a22">Precio unitario: {{unitPrice}}</p>
          <h3 style="color:#FF1a81">Precio total: $ {{totalPrice}}</h3>
          


          <p style="color:#060f74; font-size: 1.1em; margin-top: 2em">
            Gracias 😉 por confiar en enfermeria.io - El mejor cuidado, en la comodidad de tu hogar.
          </p>
          
      </div>
    </div>
  </div>
</body>